<mat-card>
    <mat-card-header *ngIf="curso">
        <mat-card-title>
            Alumno del curso {{curso.nombre}}
        </mat-card-title>
    </mat-card-header>


    <mat-card-content>
        <mat-tab-group dynamicHeight [(selectedIndex)]="tabIndex">
            <mat-tab label="Asignar Alumnos">


                <mat-form-field class="mx-3" style="width: 50%;">
                    <input matInput color placeholder="Buscar Alumnos" style="color: black;"
                        (keyup)="filtrar($event.target.value)">

                </mat-form-field>

                <table mat-table [dataSource]="alumnosAsignar" class="mx-3 mat-elevation-z8" style="width: 75%;">

                    <ng-container matColumnDef="seleccion">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event? seleccionarDesSeleccionarTodos(): null"
                                [checked]="seleccion.hasValue() && estanTodosSeleccionados()"
                                [indeterminate]="seleccion.hasValue() && !estanTodosSeleccionados()">

                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let alumno">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event? seleccion.toggle(alumno): null"
                                [checked]="seleccion.isSelected(alumno)">

                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let alumno"> {{alumno.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="apellido">
                        <th mat-header-cell *matHeaderCellDef> Apellido </th>
                        <td mat-cell *matCellDef="let alumno"> {{alumno.apellido}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="mostrarColumnas"></tr>
                    <tr mat-row *matRowDef="let alumno; columns: mostrarColumnas;" (click)="seleccion.toggle(alumno)">
                    </tr>
                </table>
                <button mat-raised-button color="primary" class="m-4" (click)="asignar()"
                    [disabled]="!seleccion.hasValue()">Asignar</button>

            </mat-tab>
            <mat-tab label="Alumnos"> 
                
                <table mat-table [dataSource]="dataSourse" class="m-3 mat-elevation-z8" style="width: 75%;">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id </th>
                        <td mat-cell *matCellDef="let alumno"> {{alumno.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let alumno"> {{alumno.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="apellido">
                        <th mat-header-cell *matHeaderCellDef> Apellido </th>
                        <td mat-cell *matCellDef="let alumno"> {{alumno.apellido}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let alumno"> {{alumno.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="eliminar">
                        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                        <td mat-cell *matCellDef="let alumno"> 
                            <button mat-mini-fab color="warn"
                            (click)="eliminarAlumno(alumno)">x</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="mostrarColumnasAlumnos"></tr>
                    <tr mat-row *matRowDef="let alumno; columns: mostrarColumnasAlumnos;">
                    </tr>
                </table>

                <mat-paginator
                    [pageSizeOptions]="pageSizeOptions"
                    showFirstLastButtons
                    class="float-left mx-2">              
                </mat-paginator>

            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>