<div class="card bg-light mb-3">
    <div class="card-header"><h1>{{titulo}}</h1></div>
    <div class="card-body">
        <button class=" btn btn-primary my-2" routerLink="/cursos/form">Crear</button>
        <div class="alert alert-info" *ngIf="lista?.length == 0">
            no hay cursos en el sistema.
        </div>
        <table class="table table-hover table-striped" *ngIf="lista?.length > 0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>alumnos</th>
                    <th>examenes</th>
                    <th>creado en</th>
                    <th>editar</th>
                    <th>eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let curso of lista">
                    <td>{{curso.id}}</td>
                    <td>{{curso.nombre}}</td>
                    <th>
                        <button class="btn btn-info btn-sm" [routerLink]="['/cursos/asignar-alumnos',curso.id]">
                            añadir ({{curso.alumnos.length}})
                        </button>
                    </th>
                    <th>
                        <button class="btn btn-info btn-sm"
                        [routerLink]="['/cursos/asignar-examenes', curso.id]">
                            añadir ({{curso.examenes.length}})
                        </button>
                    </th>
                    <td>{{curso.createAt | date: 'yyyy/MM/dd'}}</td>
                    <td>
                        <button class=" btn btn-secondary btn-sm" [routerLink]="['/cursos/form',curso.id]">editar</button>
                    </td>
                    <td><button class=" btn btn-danger btn-sm" 
                        (click)=eliminar(curso)> 
                        eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalRegistros"
              [pageSize]="totalPorPagina"
              [pageIndex]="paginaActual"
              [pageSizeOptions]="pageSizeOptions"
              (page)="paginar($event)" 
               showFirstLastButtons
               class="float-left mx-2">              
        </mat-paginator>

    </div>
  </div>