<div class="card text-white bg-dark mb-3">
    <div class="card-header"><h1>{{titulo}}</h1></div>
    <div class="card-body">
        <button class=" btn btn-secondary my-2" routerLink="/cursos">Volver</button>
    </div>
    <form>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text"name="nombre" id="nombre" class="form-control" 
            [(ngModel)]="model.nombre">
            <div class="alert alert-danger" *ngIf="error?.nommbre">
                {{error.nombre}}
            </div>
        </div>
        
        <div class="form-group">
            <button type="button"class="btn btn-primary" 
            (click)="model.id? editar(): crear()">
                {{model.id? 'Editar': 'Crear'}}
            </button>

        </div>
    </form>
</div> 