<div class="card bg-light mb-3">
    <div class="card-header"><h1>{{titulo}}</h1></div>
    <div class="card-body">
        <button class=" btn btn-primary my-2" routerLink="/examenes/form">Crear</button>
        <div class="alert alert-info" *ngIf="lista?.length == 0">
            no hay examenes en el sistema.
        </div>
        <table class="table table-hover table-striped" *ngIf="lista?.length > 0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>asignatura</th>
                    <th>preguntas</th>
                    <th>creado en</th>
                    <th>editar</th>
                    <th>eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let examen of lista">
                    <td>{{examen.id}}</td>
                    <td>{{examen.nombre}}</td>
                    <td>{{examen.asignaturaPadre?.nombre}} -> {{examen.asignaturaHija?.nombre}} </td>
                    <td>{{examen.preguntas.length}}</td>
                    <td>{{examen.createAt | date: 'yyyy/MM/dd'}}</td>
                    <td>
                        <button class=" btn btn-secondary btn-sm" [routerLink]="['/examenes/form',examen.id]">editar</button>
                    </td>
                    <td><button class=" btn btn-danger btn-sm" 
                        (click)=eliminar(examen)> 
                        eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalRegistros"
              [pageSize]="totalPorPagina"
              [pageIndex]="paginaActual"
              [pageSizeOptions]="pageSizeOptions"
              (page)="paginar($event)" 
               showFirstLastButtons
               class="float-left mx-2">              
        </mat-paginator>

    </div>
  </div>